
.add_post{
    font-family: "Work Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.add_post_form{
    position:absolute;
    background-color: #242535;
    padding: 1rem;
    border-radius: 6px;
    right: 65%;
}
.bugatti{
    position: relative;
    width: 90%;
    transform: scaleX(-1);
    border-radius: 12px;
    filter: brightness(75%);
    
}
.add_post > .container{
    flex-direction: column;
}

#id_text{
    background-color: #181A2A;
    border-radius: 6px;
    line-height: 1.5rem;
    border: solid 1px #3B3C4A;
    color:#fff;
    padding:0.5rem 1rem ;
    margin-top: 1rem;
    height: 7.5em;
}


input[type="text"], input[type="email"] {
    background-color: #181A2A;
    border-radius: 6px;
    line-height: 1.5rem;
    border: solid 1px #3B3C4A;
    color:#fff;
    padding:0.5rem 1rem ;
    margin-top: 1rem;

}

#id_name{
    margin-top: 0;
}
input[type="file"] {
    margin-top: 0;
    background-color: #181A2A;
    border-radius: 6px;
    line-height: 24px;
    border: solid 1px #3B3C4A;
    color:#fff;
    padding:0.5rem 1rem ;
}
label{
    margin: 1rem 0 0 0;
    
}

input[type="file"]::file-selector-button{
    background-color:#4B6BFB ;
    border-radius: 6px;
    border: none; 
    color: #fff;
    padding: 0.25em;
}

button {
    background-color:#4B6BFB ;
    border-radius: 6px;
    border: none;
    color: #fff;
    line-height: 1.5rem;
    padding: 0.5rem 5rem;
    margin-top: 0.5rem;
   
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
button:hover {
    background-color: #45a049;
    transition: ease-in-out 0.5s;
}


label {
    margin-bottom: 6px;
    display: block;
}

.add_post > .container > form{
    display: flex;
    flex-direction: column;
}