main{
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    position: relative;

}

main > .container{
    width: 100%;
    flex-direction: column;
    align-items: normal;

}

 .lfa{
    border-radius: 1rem;
    width: 80%;
}


.main_box{
    position: absolute;
    left: 50%;
    bottom:20%;
    padding: 2em;
    border-radius: 1rem;
    width: 40%;
    background-color: #242535;
    border: solid 1px #97989F ;
}

.main_box > .main_h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 5px 10px;
    background-color: #4B6BFB;
    width:5% ;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.main_box > p {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main_user_coment_data{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #97989F;
}


.main_user_coment_data > h2{
    margin-left: 1rem;
}