.posts{
    font-family: "Work Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

.posts > .container > h1 {
        font-size: 24px;
        font-weight: bold;
        align-self: flex-start;
}

.posts > a > button {
        font-weight: bold;
        line-height: 24px;
        color: #696A75;
        padding: 0.6em 1em; 
        background: none;
        border-radius: 6px;
        border: solid 1px #696A75;
        cursor: pointer;
        margin-top: 2rem;
}