<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'ad.css' %}">
    <link rel="stylesheet" href="{% static 'post.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">

    <link rel="stylesheet" href="{% static 'posts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{%static 'logo.png'%}" alt="logo"/>
                <h1>Car<span>Blog</span></h1>
            </div>
            <ul class="menu">
                <li class="menu_element"><a href="{% url 'home' %}">Home</a></li>
                <li class="menu_element">Comments</li>
                <li class="menu_element">About us</li>
                <li class="menu_element">Contact</li>
            </ul>
        </div>
    </header>
    <section class="posts ">
        <div class="container">
            {% for user in users %}
           
                <div class="post post_comments">
                    <img class="post_user_photo" src="{{ user.photo.url }}" alt="car"/>
                    <p class="post_element_text post_element_text_comments">{{ user.text }}</p>
                    <div class="post_user_info_container">
                        <img class="post_user_user_photo" src="{{ user.userphoto.url }}" alt="car"/>
                        <div class="post_element_info">
                            <div class="post_element_user_name_sure_name">
                                <p class="post_element">{{ user.name }}</p>
                                <p class="post_element">{{ user.surname }}</p>
                            </div>
                            <p class="post_element_email">{{ user.email }}</p>
                        </div>
                    </div>
                    <form class="add_comment" method="post">
                        {% csrf_token %}
                        {{form}}
            
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button class="add_comment_button" type="submit">Dodaj komentarz</button>
                    </form>
                    <div class="comments">
                    {% for comment in user.comment_set.all.reverse %}
                        <p class="comment">{{ comment.text }}</p>
                        {% endfor %}
                    </div>
                
                    
                     
             </div>
            {% endfor %}
            
        </div>
    </section>
    <footer>
        <div class="container">
           <div class="top_footer">
            <div class="col">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <p><span>Email : </span>adamjednacz4@gmail.com</p>
                <p><span>Phone : </span>123 123 123</p>
            </div>
            <div class="col">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Blog</p>
                <p>Archived</p>
                <p>Author</p>
                <p>Contact</p>
            </div>
            <div class="col">
                <h2>Category</h2>
                <p>Lifestyle</p>
                <p>Technology</p>
                <p>Travel</p>
                <p>Business</p>
                <p>Economy</p>
                <p>Sports</p>
            </div>
            <div class="col">
                <h2>Weekly Newsletter</h2>
                <p>Get blog articles and offers via email</p>
                <form>
                    <input type="text" placeholder="Your Email">
                    <button>Subscribe</button>
                </form>
            </div>
           </div> 
           <div class="bot_footer">
            <div class="bot_footer_l">
                <img src="{%static 'logo.png'%}" alt="logo"/>
                <div class="bot_footer_l_ps">
                <p>Meta<span class="span">Blog</span></p>
                <p class="copy">&#169; All Rights Reserved </p>
            </div>
            </div>
            <div class="bot_footer_r">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
            </div>
        </div>
        </div>
        
    </footer>
</body>
</html>