<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{%static 'logo.png'%}" alt="logo"/>
                <h1>Car<span>Blog</span></h1>
            </div>
            <ul class="menu">
                <li class="menu_element"><a href="{% url 'home' %}">Home</a></li>
                <li class="menu_element"><a href="{%url 'comments'%}">Comments</a></li>
                <li class="menu_element"><a href="{%url 'about'%}">About us</a></li>
                <li class="menu_element"><a href="{%url 'contact'%}">Contact</a></li>
            </ul>
        </div>
    </header>
    <section class="contact">
        <div class="container">
            <h2>My Git-Hub:</h1>
            <a href="https://github.com/AdamJednacz">github.com/AdamJednacz</a>
            <h2>My Mail:</h2>
            <p>adamjednacz4@gmail.com</p>
            <h2>My Phone:</h2>
            <p>+12 123 123 123</p>
        </div>
    </section>
    <footer>
        <div class="container">
           <div class="top_footer">
            <div class="col">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <p><span>Email : </span>adamjednacz4@gmail.com</p>
                <p><span>Phone : </span>123 123 123</p>
            </div>
            <div class="col">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Blog</p>
                <p>Archived</p>
                <p>Author</p>
                <p>Contact</p>
            </div>
            <div class="col">
                <h2>Category</h2>
                <p>Lifestyle</p>
                <p>Technology</p>
                <p>Travel</p>
                <p>Business</p>
                <p>Economy</p>
                <p>Sports</p>
            </div>
            <div class="col">
                <h2>Weekly Newsletter</h2>
                <p>Get blog articles and offers via email</p>
                <form>
                    <input type="text" placeholder="Your Email">
                    <button>Subscribe</button>
                </form>
            </div>
           </div> 
           <div class="bot_footer">
            <div class="bot_footer_l">
                <img src="{%static 'logo.png'%}" alt="logo"/>
                <div class="bot_footer_l_ps">
                <p>Meta<span class="span">Blog</span></p>
                <p class="copy">&#169; All Rights Reserved </p>
            </div>
            </div>
            <div class="bot_footer_r">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
            </div>
        </div>
        </div>
        
    </footer>
</body>
</html>