<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'ad.css' %}">
    <link rel="stylesheet" href="{% static 'post.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'add_post.css' %}">
    <link rel="stylesheet" href="{% static 'posts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{%static 'logo.png'%}" alt="logo"/>
                <h1>Car<span>Blog</span></h1>
            </div>
            <ul class="menu">
                <li class="menu_element">Home</li>
                <li class="menu_element">Yours Cars</li>
                <li class="menu_element">About us</li>
                <li class="menu_element">Contact</li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
        <img class="lfa" src="{%static 'lfa.jpg'%}" alt="car"/>
        
        <div class="main_box">
            <div class="main_h2">
            <h2>Cars</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p> 
            <div class="main_user_coment_data">
                <img class="main_user_profile_img" src="{%static 'main_profile.png'%}"/>
                <h2 class="main_name">Jan Kowalski</h2>
                <p class="main_date"></p>
            </div>
        </div>
        </div>
    </main>
    <section class="ad">
        <div class="container">
        <div class="ad_box">
            <h2>Advertisement</h2>
            <p>You can place ads</p>
            <p>750x100</p>
        </div>
        </div>
    </section>
    <section class="add_post">
        <div class="container">
            <h2>Add User</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.name}}
                {{form.surname}}
                {{form.email}}
                <p>profile photo</p>
                {{form.userphoto}}
                <p>photo</p>
                {{form.photo}}
                {{form.text}}
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
    <section class="posts">
        <div class="container">
            {% for user in users %}
            <div class="post">
                
                    <img class="post_user_photo" src="{{ user.photo.url }}" alt="car"/>
                    <p class="post_element_text">{{ user.text }}</p>
                    <div class="post_user_info_container">
                    <img class="post_user_user_photo" src="{{ user.userphoto.url }}" alt="car"/>
                    <div class="post_element_info">
                        <div class="post_element_user_name_sure_name">
                        <p class="post_element">{{user.name}}</p>
                        <p class="post_element">{{user.surname}}</p>
                        </div>
                        <p class="post_element_email">{{user.email}}</p>
                    </div>
                </div>
                </div>
           {% endfor %}
        </div>
    </section>
    <section class="ad">
        <div class="container">
        <div class="ad_box">
            <h2>Advertisement</h2>
            <p>You can place ads</p>
            <p>750x100</p>
        </div>
        </div>
    </section>
    <footer>
        <div class="container">
           <div class="top_footer">
            <div class="col">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <p><span>Email : </span>adamjednacz4@gmail.com</p>
                <p><span>Phone : </span>123 123 123</p>
            </div>
            <div class="col">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Blog</p>
                <p>Archived</p>
                <p>Author</p>
                <p>Contact</p>
            </div>
            <div class="col">
                <h2>Category</h2>
                <p>Lifestyle</p>
                <p>Technology</p>
                <p>Travel</p>
                <p>Business</p>
                <p>Economy</p>
                <p>Sports</p>
            </div>
            <div class="col">
                <h2>Weekly Newsletter</h2>
                <p>Get blog articles and offers via email</p>
                <form>
                    <input type="text" placeholder="Your Email">
                    <button>Subscribe</button>
                </form>
            </div>
           </div> 
           <div class="bot_footer">
            <div class="bot_footer_l">
                <img src="{%static 'logo.png'%}" alt="logo"/>
                <div class="bot_footer_l_ps">
                <p>Meta<span class="span">Blog</span></p>
                <p class="copy">&#169; All Rights Reserved </p>
            </div>
            </div>
            <div class="bot_footer_r">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
            </div>
        </div>
        </div>
        
    </footer>
</body>
</html>